body {
  padding: 25;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

#objectives{

}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.3;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
  text-align: center;
}
.footer-links a:hover {
  opacity: 1;
}

.btn-white {
  background: RGBA(248, 249, 254, 1.00);
  color: RGBA(34, 44, 47, 1.00);
}

.btn-white a:hover {
  color: RGBA(34, 44, 47, .5);
}

.avatar {
  width: 35px;
  border-radius: 50%;
  opacity: .8;
}

.avatar:hover{
  opacity: 1;
}

.qi-feedback-section {
  font-family: Open Sans, sans-serif;
}

.qi-feedback-section p{
  line-height: 25px;
}
